<div class="Cont">

  <div id="container-pai">

    <div class="container-equipe" (click)="hoverVitor = true" (mouseleave)="hoverVitor = false">
      <div *ngIf="!hoverVitor">
        <img src="assets/img/stefano.png">
        <p >Victor Ricobello</p>

        <div class="footer">
          <a>Click para saber mais...</a>
        </div>
      </div>
      <div *ngIf="hoverVitor" class="conteudoHover">
        <div class="headerCard">
          <p>Victor Stefano Ricobello
          </p>
        </div>
        <div class="blocoTexto">
          <h6>
            Aspirante a Desenvolvedor Back-end, pretendo atuar nas areas de cybersegurança ou desenvolvimento.
          </h6>
          <div class="blocoTextoInterno">
            <h6>
              Contatos:
            </h6>
            <h6>
              Celular (19) 99237-2039
            </h6>
            <h6>
              victorstefano096@gmail.com
            </h6>
          </div>

        </div>

      </div>
    </div>

    <div class="container-equipe" (click)="hoverFrancisco = true" (mouseleave)="hoverFrancisco = false">
      <div *ngIf="!hoverFrancisco">
        <img src="assets/img/neto.png">
        <p >Francisco Neto</p>

        <div class="footer">
          <a>Click para saber mais...</a>
        </div>

      </div>
      <div *ngIf="hoverFrancisco" class="conteudoHover">
        <div class="headerCard">
          <p>Francisco C. A. Neto
          </p>
        </div>
        <div class="blocoTexto">
          <h6>
            Dev. Desktop de Tecnologia da informação
          </h6>
          <div class="blocoTextoInterno">
            <h6>
              Contatos:
            </h6>
            <h6>
              Celular (19) 9 8262-9866
            </h6>
            <h6>
              franfc123.fc@gmail.com
            </h6>
          </div>

        </div>

      </div>

    </div>

    <div class="container-equipe" (click)="hoverRay = true" (mouseleave)="hoverRay = false">
      <div *ngIf="!hoverRay">
        <img src="assets/img/ray.png">
        <p >Rayanne Fusato</p>

        <div class="footer">
          <a>Click para saber mais...</a>
        </div>
      </div>
      <div *ngIf="hoverRay" class="conteudoHover">
        <div class="headerCard">
          <p>Rayanne Fusato
          </p>
        </div>
        <div class="blocoTexto">
          <h6>
            Cursando Ciência da Computação, iniciante em design gráfico
          </h6>
          <div class="blocoTextoInterno">
            <h6>
              Contatos:
            </h6>
            <h6>
              Celular (19) 9 8882-1705
            </h6>
            <h6>
              aitne1406@gmail.com
            </h6>
          </div>

        </div>

      </div>

    </div>

    <div class="container-equipe" (click)="hoverCamille = true" (mouseleave)="hoverCamille = false">
      <div *ngIf="!hoverCamille">
        <img src="assets/img/camilson.png">
        <p >Camille Kantovitz</p>

        <div class="footer">
          <a>Click para saber mais...</a>
        </div>
      </div>
      <div *ngIf="hoverCamille" class="conteudoHover">
        <div class="headerCard">
          <p>Camille C. Kantovitz
          </p>
        </div>
        <div class="blocoTexto">
          <h6>
            Dev. Web de Tecnologia da informação
          </h6>
          <div class="blocoTextoInterno">
            <h6>
              Contatos:
            </h6>
            <h6>
              Celular (19) 99371-0505
            </h6>

          </div>

        </div>

      </div>
    </div>
    <div class="container-equipe" (click)="hoverCaina = true" (mouseleave)="hoverCaina = false">
      <div *ngIf="!hoverCaina">
        <img src="assets/img/caina.png">
        <p >Cainã Ravelli </p>

        <div class="footer">
          <a>Click para saber mais...</a>
        </div>

      </div>
      <div *ngIf="hoverCaina" class="conteudoHover">
        <div class="headerCard">
          <p>Cainã Ravelli
          </p>
        </div>
        <div class="blocoTexto">
          <h6>
            Full Stack Dev. de tecnologia da informação
          </h6>
          <div class="blocoTextoInterno">
            <h6>
              Contatos:
            </h6>
            <h6>
              Celular (19) 9 9715-3475
            </h6>
            <h6>
              cainaravellicontato@gmail.com.br
            </h6>
          </div>

        </div>

      </div>

    </div>

    <div class="container-equipe" (click)="hoverBia = true" (mouseleave)="hoverBia = false">
      <div *ngIf="!hoverBia">
        <img src="assets/img/beatriz.png">
        <p >Beatriz Setem</p>

        <div class="footer">
          <a>Click para saber mais...</a>
        </div>
      </div>
      <div *ngIf="hoverBia" class="conteudoHover">
        <div class="headerCard">
          <p>Beatriz Setem Ficiano
          </p>
        </div>
        <div class="blocoTexto">
          <h6>
            Cursando Ciência da Computação e entusiasta de design.
          </h6>
          <div class="blocoTextoInterno">
            <h6>
              Contatos:
            </h6>
            <h6>
              Celular (19) 9 9632-7898
            </h6>
            <h6>
              beatrizsetem@gmail.com
            </h6>
          </div>

        </div>

      </div>
    </div>


  </div>


</div>