<div id="conteudo">
    <div id="conteudo-principal">
            <div class="container">
                <div class="titulo-telas"><p style="margin-top: 7px;">SAIBA MAIS</p></div>
                <div class="conteudo-telas">
                    <p class="texto-telas">Nascemos da necessidade de facilitar a criação de catálogos para a Mercearia
                        da Ana. Nosso serviço foi desenvolvido para oferecer economia de tempo,
                        personalização e praticidade na criação de catálogos, destacando cada produto de forma única.
                        Valorizamos a autenticidade da mercearia e buscamos simplificar a produção de catálogos para que
                        a Ana possa focar em seus clientes e produtos incríveis.</p>
                </div>
            </div>
            <div class="retangulo"></div>
    </div>
</div>